.navbar-brand{
    font-size: 25px !important;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    background-color: transparent !important;
    z-index: 999 !important;
  }
  
  .navbar-toggler{
    background-color: white;
  }

  .nav-bg {
    background-color: blue !important;
    position: fixed;
  }

 

  nav a{
    color: white !important;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }

  nav a.active{
    color: #ffee00 !important;
    
  }
  
